<!-- Stdudent Name: Nusratullah Mohammadi
    ID: 301333015
    File Name: Index.ejs
    Date: October 5, 2023
   -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>This is my personal website where I showcase my projects and achievements.</p>
    <h2>Mission Statement:</h2>
    <p>At the heart of my digital journey lies a commitment to craftsmanship, innovation, and storytelling. 
      My mission is to craft digital experiences that captivate, inspire, and drive meaningful connections. 
      Through creative design, cutting-edge technology, and a passion for user-centric solutions, 
      I aim to leave a lasting impression in the digital realm. <br><br>
      I aspire to showcase my skills, knowledge, and dedication to potential employers, collaborators, 
      and clients through this portfolio. It serves as a testament to my journey, reflecting my growth 
      as a creative and a problem solver. My portfolio is a dynamic canvas where I bring ideas to life,
      highlight my diverse skills, and share the unique value I bring to each project. <br><br>
      With a relentless pursuit of excellence and a commitment to pushing boundaries, I embrace every 
      challenge as an opportunity for growth. My portfolio is a testament to my unwavering dedication 
      to creating exceptional digital experiences and making a positive impact in the world through 
      technology and design. <br><br>
      Welcome to my digital realm, where innovation meets creativity, and where every project tells
      a story of passion, expertise, and endless possibilities. </p>
      
    <a href="/about" class="btn btn-primary">Learn More</a>
  </div>
</main>

<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
